Node-Red/Alarm Interface Flow.txt
[{"id":"e762f70f.189d08","type":"mqtt-broker","z":"","broker":"192.168.0.252","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":""},{"id":"1ecec571.e1313b","type":"debug","z":"aff45f16.500ba","name":"","active":true,"console":"false","complete":"payload","x":311,"y":188.88888549804688,"wires":[]},{"id":"b2c6a168.4d396","type":"mqtt in","z":"aff45f16.500ba","name":"Alarm","topic":"NX8V2/#","broker":"e762f70f.189d08","x":152,"y":76.88888549804688,"wires":[["1ecec571.e1313b","5fd727e1.6c87b8"]]},{"id":"fd8d2308.0272e","type":"mqtt out","z":"aff45f16.500ba","name":"","topic":"espLED","qos":"0","retain":"false","broker":"e762f70f.189d08","x":734.0000610351562,"y":404.77777099609375,"wires":[]},{"id":"b1c43955.4e3bc8","type":"inject","z":"aff45f16.500ba","name":"Repeat every ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189,"y":406.77777099609375,"wires":[["c3e6a0f7.3c196"]]},{"id":"3ff967a0.c00698","type":"debug","z":"aff45f16.500ba","name":"","active":true,"console":"false","complete":"false","x":746.8889465332031,"y":321.77777099609375,"wires":[]},{"id":"c3e6a0f7.3c196","type":"trigger","z":"aff45f16.500ba","op1":"On","op2":"Off","op1type":"val","op2type":"val","duration":"2","extend":false,"units":"s","name":"","x":486.8888854980469,"y":407.77777099609375,"wires":[["fd8d2308.0272e","3ff967a0.c00698"]]},{"id":"226d2fc3.dd92d","type":"function","z":"aff45f16.500ba","name":"Prepare alarm string","func":"//----------------------------------------------------------------------------------\n// NX8V2 Alarm System Interface\n//\n// by tgmaxx  <tgmaxx [at] gmail [dot] com>\n//\n// Licensed under the MIT license, http://opensource.org/licenses/mit-license.php\n//----------------------------------------------------------------------------------\n\nif (msg.payload == \"AUX1\") {\n  msg.payload = \"Burglar Alarm\";\n} else if (msg.payload == \"AUX2\") {\n  msg.payload = \"Fire Alarm\";\n} else if (msg.payload == \"AUX3\") {\n  msg.payload = \"System Armed\";\n} else if (msg.payload == \"AUX4\") {\n  msg.payload = \"System Disarmed\";\n} else if (msg.payload == \"offline\") {\n//  msg.payload = \"System Offline\";\n  return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":504.8888397216797,"y":76.77777099609375,"wires":[["cebba1c8.31446","8784cc1a.787b3"]]},{"id":"cebba1c8.31446","type":"debug","z":"aff45f16.500ba","name":"","active":true,"console":"false","complete":"payload","x":739.8889007568359,"y":140.77777099609375,"wires":[]},{"id":"8784cc1a.787b3","type":"e-mail","z":"aff45f16.500ba","server":"","port":"","name":"","dname":"Text and Email","x":748.9999847412109,"y":79,"wires":[]},{"id":"5fd727e1.6c87b8","type":"rbe","z":"aff45f16.500ba","name":"","func":"rbe","gap":"","x":312.89576721191406,"y":76.88888549804688,"wires":[["226d2fc3.dd92d"]]}]